.my-form{
    background-color: rgba(139, 139, 139, 0.925) ;
    opacity: 80%;
    border-radius: 5px;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
.my-location{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;
    background-color: aliceblue;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    border: 2px black solid;
    top: 10vh;
    left: 1vw;
}