.my-form{
    background-color: rgba(139, 139, 139, 0.925) ;
    opacity: 80%;
    border-radius: 5px;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }